<% include header %>

<head>
  
 <link rel ="stylesheet" type="text/css" href="/css/Homepage.css"/> 
 <script src="/js/Test.js"></script>
 <script src="/js/Test.js"></script>

</head>
<body>
  <div class="container-fluid">
      <h1>Performers Details</h1><br>
    <table class="table" id="pull">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Play</th>
          <th>Character Name</th>
          <th>Clothing Item</th>
          <th>Color</th>

          <th>Measurements</th>
          <th>Date</th>
          <% if(user && user.isAdmin) { %>
          <th>Employee Assigned</th>
          <% } %>
          <th>Notes</th>
          
        </tr>
      </thead>
      <tbody>
          <% for( i = 0; i < listOfPerformers.length; i++) { %>
        <tr>
          <td><%= listOfPerformers[i].firstname %></td>
          <td><%= listOfPerformers[i].lastname %></td>
          <td><%= listOfPerformers[i].playname %></td>
          <td><%= listOfPerformers[i].charactername %></td>
          
         

          <td>
              <button id="selectItem<%= listOfPerformers[i]._id %>" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2<%= listOfPerformers[i]._id %>">Choose item </button>
              <div id="myModal2<%= listOfPerformers[i]._id %>" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">                 
                                             
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Choose Clothing Item</h4>
                    </div>
                    <div class="modal-body">
                        <select id="mySelect1<%= listOfPerformers[i]._id %>" size="4">
                            <option >Tunic</option>
                            <option  >Skirt</option>
                            <option >Suit</option>
                            <option >Trousers</option>
                            
                          </select>
                          <br>
                          <br>
                          <button onclick="myFunction1('<%=listOfPerformers[i]._id%>')" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>   
                    </div>
                  </div>
              
                </div>
              </div>
            </td>

          <td>
              <button id="selectColor" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">Choose color</button>
              <div id="myModal3" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" >&times;</button>
                     </div>
                    <div class="modal-body">
                        <select id="mySelect2" size="5">
                            <option>black</option>
                            <option>white</option>
                            <option>cream</option>
                            <option>tan</option>
                            <option>brown</option>
                            <option>grey</option>
                            <option>red</option>
                            <option>orange</option>
                            <option>yellow</option>
                            <option>green</option>
                            <option>blue</option>
                            <option>purple</option>
                            <option>pink</option>
                            <option>lavender</option>
                            <option>dark</option>
                            <option>light</option>
                            <option>pale</option>
                            <option>distressed</option>
                            <option>old</option>
                            
                          </select>
                          <br>
                          <br>
                          <button onclick="myFunction2()" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                       
                          
                    </div>
                  </div>
              
                </div>
              </div>
            </td>
           
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Click here</button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Measurements</h4>
      </div>
      <div class="modal-body">
          <div class="container">
              <ul class="nav nav-pills">
                <li><a data-toggle="tab" href="#upper">Upper</a></li>
                <li><a data-toggle="tab" href="#lower">Lower</a></li>
                <li><a data-toggle="tab" href="#other">Other</a></li>
              </ul>
              <div class="tab-content">
                <br>
                <div id="upper" class="tab-pane fade in active">
                  <form method="post" action="/MeasureController/measure1">
                    <div class="form-group">
                        <% for(let j = 0; j < measures.length; j++) { %>
                            <%if(listOfPerformers[i]._id == measures[j].perfId){%>
                              <%Measurements[0] = measures[j]%>
                              <%break%>
                            <%}%>
                        <% } %>
                  <input  type="text" name="perfId" hidden value="<%= listOfPerformers[i]._id %>">  
                  Head Circumference:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="headcicumference" placeholder="Enter head Circumference" value="<%=Measurements[0].headcicumference%>"><br>
                  <!-- <input id="performerId" name="performerId"> -->
                  
                  Neck:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="neck" placeholder="Enter neck measurement value" value=""><br>
                  Armcycle:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="armcycle" placeholder="Enter armcycle measurement value"><br>
                  Centre Back to Wrist:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="centrebacktowrist" placeholder="Enter measurement value"><br>
                  Chest Relaxed:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="chestrelaxed" placeholder="Enter measurement value"><br>
                  Chest Expanded:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="chestexpanded" placeholder="Enter measurement value"><br>
                  Chest over compression garnment:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="chestovercompressiongarnment" placeholder="Enter measurement value"><br>
                  Chest over Body Padding:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="chestoverbodypadding" placeholder="Enter measurement value">                      
                  <br><br>
                  <div class="h">
                      <input class="btn btn-primary" type="submit" value="submit" data-toggle="tab" href="#lower">
                    </div>
                </div>
            </div>
            <div id="lower" class="tab-pane fade">                        
                  <div class="form-group">
                  Waist Relaxed:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="waistrelaxed" placeholder="Enter measurement value"><br>
                  Waist Expanded:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="waistexpande" placeholder="Enter measurement value"><br>
                  Full Hip:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="fullhip" placeholder="Enter measurement value"><br>
                  Half Girth:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="halfgirth" placeholder="Enter measurement value"><br>
                  Full Girth:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="fullgirth" placeholder="Enter measurement value"><br>
                  Inseam to Ankle:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="inseamtoankle" placeholder="Enter measurement value"><br>
                  Inseam to floor:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="inseamtofloor" placeholder="Enter measurement value"><br>
                  Waist over Compression Garment&nbsp;&nbsp;
                  <input class="form-control" type="text" name="waistovercompressiongarnment" placeholder="Enter measurement value"><br>
                  Hip over Compression Garment:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="hipovercompressiongarnment" placeholder="Enter measurement value"><br>
                  Waist over Body Padding:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="waistoverbodypadding" placeholder="Enter measurement value"><br>
                  Hip over Body Padding:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="hipoverbodypadding" placeholder="Enter measurement value"><br>
                  Shoes:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="shoes" placeholder="Enter shoe size">                    
                  <br><br>
                  <div class="h">
                          <input class="btn btn-primary" type="submit" data-toggle="tab" href="#other">
                        </div>
                      </div>      
                    </div>
            <div id="other" class="tab-pane fade">
            
              <div class="form-group">
                Dominant Hand:&nbsp;&nbsp;
                <input class="form-control" type="text" name="dominanthand" placeholder="Enter measurement value"><br>
                Other over Body Padding:&nbsp;&nbsp;
                <input class="form-control" type="text" name="otheroverbodypadding" placeholder="Enter measurement value">
                
                <br><br>
                <div class="h">
                   
                <input class="btn btn-primary" type="submit" value="submit">
              </div>
            </div>
            </div>
            </form>
        </div>
      </div>
  </div>
</div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
          </td>
          <td><%= listOfPerformers[i].playdate %></td>
          <% if(user && user.isAdmin) { %>
          <td>
            <!-- <button id="selectEmployee" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Select Employee</button>
            <div id="myModal1" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Employees</h4>
                  </div>
                  <div class="modal-body">
                      <select id="mySelect" size="5">
                          <option>Akhil</option>
                          <option>Meghana</option>
                          <option>Naveen</option>
                          <option>Shiva</option>
                          <option>Siva</option>
                        </select>
                        <br>
                        <br>
                        <button onclick="myFunction()" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                        
                        
                  </div>
                </div>
            
              </div>
            </div> -->
            <select>
              <option>Select Employee</option>
              <option>Akhil</option>
              <option>Meghana</option>
              <option>Naveen</option>
              <option>Shiva</option>
              <option>Siva</option>
            </select>
          </td>
          <% } %>
          <% if(!user.isAdmin){ %>
            <td><textarea readonly></textarea></td>
            <% } %>
          
          <% if(user && user.isAdmin) { %>
          <td><textarea></textarea></td>
          
          <td>
            <form action="/FormController/edit" method="POST">
            <button class="btn btn-primary" type="submit">Basic Form</button>
          </form>
          </td>
          <td><button onclick="removeRow()">Delete</button> <%=i%></td>
          <% } %>
          
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  
  
  </body>
    

  
</html>