<% include header %>
<head>
  
 <link rel ="stylesheet" type="text/css" href="/css/Homepage.css"/> 
 <script src="/js/Test.js"></script>
 <script src="/js/Test.js"></script>

</head>
<body>

  <div class="container">
    <h1>Performers Details</h1><br>
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Play</th>
          <th>Character Name</th>
          <th>Measurements</th>
          <th>Date</th>
          <th>Employee Assigned</th>
        </tr>
      </thead>
      <tbody>
          <% for(let i = 0; i < listOfPerformers.length; i++) { %>
        <tr>
          <td><%= listOfPerformers[i].firstname %></td>
          <td><%= listOfPerformers[i].lastname %></td>
          <td><%= listOfPerformers[i].playname %></td>
          <td><%= listOfPerformers[i].charactername %></td>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Click here</button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Measurements</h4>
      </div>
      <div class="modal-body">
          <div class="container">
              <ul class="nav nav-pills">
                <li><a data-toggle="tab" href="#upper">Upper</a></li>
                <li><a data-toggle="tab" href="#lower">Lower</a></li>
                <li><a data-toggle="tab" href="#other">Other</a></li>
              </ul>
              <div class="tab-content">
                <br>
                <div id="upper" class="tab-pane fade in active">
                  <form method="post" action="/MeasureController/measure1">
                    <div class="form-group">
                  Head Circumference:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="headcicumference" placeholder="Enter head Circumference"><br>
                  Neck:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="neck" placeholder="Enter neck measurement value"><br>
                  Armcycle:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="armcycle" placeholder="Enter armcycle measurement value"><br>
                  Centre Back to Wrist:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="centrebacktowrist" placeholder="Enter measurement value"><br>
                  Chest Relaxed:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="chestrelaxed" placeholder="Enter measurement value"><br>
                  Chest Expanded:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="chestexpanded" placeholder="Enter measurement value"><br>
                  Chest over compression garnment:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="chestovercompressiongarnment" placeholder="Enter measurement value"><br>
                  Chest over Body Padding:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="chestoverbodypadding" placeholder="Enter measurement value">                      
                  <br><br>
                  <div class="h">
                      <input class="btn btn-primary" type="submit" value="submit" data-toggle="tab" href="#lower">
                    </div>
                </div>
            </div>
            <div id="lower" class="tab-pane fade">                        
                  <div class="form-group">
                  Waist Relaxed:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="waistrelaxed" placeholder="Enter measurement value"><br>
                  Waist Expanded:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="waistexpande" placeholder="Enter measurement value"><br>
                  Full Hip:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="fullhip" placeholder="Enter measurement value"><br>
                  Half Girth:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="halfgirth" placeholder="Enter measurement value"><br>
                  Full Girth:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="fullgirth" placeholder="Enter measurement value"><br>
                  Inseam to Ankle:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="inseamtoankle" placeholder="Enter measurement value"><br>
                  Inseam to floor:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="inseamtofloor" placeholder="Enter measurement value"><br>
                  Waist over Compression Garment&nbsp;&nbsp;
                  <input class="form-control" type="text" name="waistovercompressiongarnment" placeholder="Enter measurement value"><br>
                  Hip over Compression Garment:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="hipovercompressiongarnment" placeholder="Enter measurement value"><br>
                  Waist over Body Padding:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="waistoverbodypadding" placeholder="Enter measurement value"><br>
                  Hip over Body Padding:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="hipoverbodypadding" placeholder="Enter measurement value"><br>
                  Shoes:&nbsp;&nbsp;
                  <input class="form-control" type="text" name="shoes" placeholder="Enter shoe size">                    
                  <br><br>
                  <div class="h">
                          <input class="btn btn-primary" type="submit" data-toggle="tab" href="#other">
                        </div>
                      </div>      
                    </div>
            <div id="other" class="tab-pane fade">
            
              <div class="form-group">
                Dominant Hand:&nbsp;&nbsp;
                <input class="form-control" type="text" name="dominanthand" placeholder="Enter measurement value"><br>
                Other over Body Padding:&nbsp;&nbsp;
                <input class="form-control" type="text" name="otheroverbodypadding" placeholder="Enter measurement value">

                <br><br>
                <div class="h">
                   
                <input class="btn btn-primary" type="submit" value="submit">
              </div>
            </div>
            </div>
            
            </form>
        </div>
      </div>
  </div>
</div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
          </td>
          <td><%= listOfPerformers[i].playdate %></td>
          <td>
            <button id="selectEmployee" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Select Employee</button>
            <div id="myModal1" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Employees</h4>
                  </div>
                  <div class="modal-body">
                      <select id="mySelect" size="5">
                          <option>Akhil</option>
                          <option>Meghana</option>
                          <option>Naveen</option>
                          <option>Shiva</option>
                          <option>Siva</option>
                        </select>
                        <br>
                        <br>
                        <button onclick="myFunction()" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                        <!-- <p id="demo"> </p> -->
                        
                  </div>
                </div>
            
              </div>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  
  
  </body>
    
  <marquee>STEPHI's COSTUME DESIGNING</marquee>
  
</html>