<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= listOfPerformers[i]._id %>">Click
  here</button>
<div id="myModal<%= listOfPerformers[i]._id %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Measurements</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <ul class="nav nav-pills">
            <li><a data-toggle="tab" href="#upper<%= listOfPerformers[i]._id %>">Upper</a></li>
            <li><a data-toggle="tab" href="#lower<%= listOfPerformers[i]._id %>">Lower</a></li>
            <li><a data-toggle="tab" href="#other<%= listOfPerformers[i]._id%> %>">Other</a></li>
            
          </ul>
          <div class="tab-content">
            <br>
            <div id="upper<%= listOfPerformers[i]._id %>" class="tab-pane fade in active">
              <form onsubmit="return confirm('Only admin and manager can edit the measurements. Do you want to continue?')"
                method="post" action="/MeasureController/measure1">
                <div class="form-group">
                  <% if(measures.length ==0){%>
                  mes[i] = Measurements
                  <%}%>
                  <% for(let j = 0; j < measures.length; j++) { %>
                  <%if(listOfPerformers[i]._id == measures[j].perfId){%>
                  <%mes[i] = measures[j]%>
                  <%break%>
                  <%}%>
                  <% } %>
                  <% if (mes[i] == null){%>
                  <%mes[i] = Measurements%>
                  <%}%>
                  <input type="text" name="perfId"  value="<%= listOfPerformers[i]._id %>" hidden>
                  <input type="text" name="mesId" hidden value="<%= mes[i]._id %>">
                  <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                  Head Circumference:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="headcicumference" placeholder="Enter measurement value"
                    value="<%=mes[i].headcicumference%>" readonly><br>
                  <%}%>
                  <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                  Head Circumference:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="headcicumference" placeholder="Enter measurement value"
                    value="<%=mes[i].headcicumference%>"><br>
                  <%}%>
                  <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                  Neck:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="neck" placeholder="Enter measurement value" value="<%=mes[i].neck%>"
                    readonly><br>
                  <%}%>
                  <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                  Neck:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="neck" placeholder="Enter measurement value" value="<%=mes[i].neck%>"><br>
                  <%}%>
                  <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                  Armcycle:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="armcycle" placeholder="Enter measurement value"
                    value="<%=mes[i].armcycle%>" readonly><br>
                  <%}%>
                  <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                  Armcycle:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="armcycle" placeholder="Enter measurement value"
                    value="<%=mes[i].armcycle%>"><br>
                  <%}%>
                  <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                  Centre Back to Wrist:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="centrebacktowrist" placeholder="Enter measurement value"
                    value="<%=mes[i].centrebacktowrist%>" readonly><br>
                  <%}%>
                  <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                  Centre Back to Wrist:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="centrebacktowrist" placeholder="Enter measurement value"
                    value="<%=mes[i].centrebacktowrist%>"><br>
                  <%}%>
                  <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                  Chest Relaxed:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="chestrelaxed" placeholder="Enter measurement value"
                    value="<%=mes[i].chestrelaxed%>" readonly><br>
                  <%}%>
                  <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                  Chest Relaxed:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="chestrelaxed" placeholder="Enter measurement value"
                    value="<%=mes[i].chestrelaxed%>"><br>
                  <%}%>
                  <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                  Chest Expanded:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="chestexpanded" placeholder="Enter measurement value"
                    value="<%=mes[i].chestexpanded%>" readonly><br>
                  <%}%>
                  <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                  Chest Expanded:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="chestexpanded" placeholder="Enter measurement value"
                    value="<%=mes[i].chestexpanded%>"><br>
                  <%}%>
                  <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                  Chest over compression garnment:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="chestovercompressiongarnment" placeholder="Enter measurement value"
                    value="<%=mes[i].chestovercompressiongarnment%>" readonly><br>
                  <%}%>
                  <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                  Chest over compression garnment:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="chestovercompressiongarnment" placeholder="Enter measurement value"
                    value="<%=mes[i].chestovercompressiongarnment%>"><br>
                  <%}%>
                  <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                  Chest over Body Padding:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="chestoverbodypadding" placeholder="Enter measurement value"
                    value="<%=mes[i].chestoverbodypadding%>" readonly>
                  <%}%>
                  <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                  Chest over Body Padding:&nbsp;&nbsp;
                  <input class="form-control" type="number" step="any" name="chestoverbodypadding" placeholder="Enter measurement value"
                    value="<%=mes[i].chestoverbodypadding%>">
                  <%}%>
                  <br><br>
                  <div class="h">
                    <input class="btn btn-primary" type="submit" value="Next" data-toggle="tab" href="#lower<%= listOfPerformers[i]._id %>">
                  </div>
                </div>
            </div>
            <div id="lower<%= listOfPerformers[i]._id %>" class="tab-pane fade">
              <div class="form-group">
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Waist Relaxed:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="waistrelaxed" placeholder="Enter measurement value" value="<%=mes[i].waistrelaxed%>"
                  readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Waist Relaxed:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="waistrelaxed" placeholder="Enter measurement value" value="<%=mes[i].waistrelaxed%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Waist Expanded:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="waistexpande" placeholder="Enter measurement value" value="<%=mes[i].waistexpande%>"
                  readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Waist Expanded:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="waistexpande" placeholder="Enter measurement value" value="<%=mes[i].waistexpande%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Full Hip:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="fullhip" placeholder="Enter measurement value" value="<%=mes[i].fullhip%>"
                  readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Full Hip:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="fullhip" placeholder="Enter measurement value" value="<%=mes[i].fullhip%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Half Girth:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="halfgirth" placeholder="Enter measurement value" value="<%=mes[i].halfgirth%>"
                  readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Half Girth:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="halfgirth" placeholder="Enter measurement value" value="<%=mes[i].halfgirth%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Full Girth:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="fullgirth" placeholder="Enter measurement value" value="<%=mes[i].fullgirth%>"
                  readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Full Girth:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="fullgirth" placeholder="Enter measurement value" value="<%=mes[i].fullgirth%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Inseam to Ankle:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="inseamtoankle" placeholder="Enter measurement value"
                  value="<%=mes[i].inseamtoankle%>" readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Inseam to Ankle:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="inseamtoankle" placeholder="Enter measurement value"
                  value="<%=mes[i].inseamtoankle%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Inseam to floor:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="inseamtofloor" placeholder="Enter measurement value"
                  value="<%=mes[i].inseamtofloor%>" readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Inseam to floor:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="inseamtofloor" placeholder="Enter measurement value"
                  value="<%=mes[i].inseamtofloor%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Waist over Compression Garment&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="waistovercompressiongarnment" placeholder="Enter measurement value"
                  value="<%=mes[i].waistovercompressiongarment%>" readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Waist over Compression Garment&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="waistovercompressiongarnment" placeholder="Enter measurement value"
                  value="<%=mes[i].waistovercompressiongarment%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Hip over Compression Garment:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="hipovercompressiongarnment" placeholder="Enter measurement value"
                  value="<%=mes[i].hipovercompressiongarment%>" readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Hip over Compression Garment:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="hipovercompressiongarnment" placeholder="Enter measurement value"
                  value="<%=mes[i].hipovercompressiongarment%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Waist over Body Padding:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="waistoverbodypadding" placeholder="Enter measurement value"
                  value="<%=mes[i].waistoverbodypadding%>" readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Waist over Body Padding:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="waistoverbodypadding" placeholder="Enter measurement value"
                  value="<%=mes[i].waistoverbodypadding%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Hip over Body Padding:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="hipoverbodypadding" placeholder="Enter measurement value"
                  value="<%=mes[i].hipoverbodypadding%>" readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Hip over Body Padding:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="hipoverbodypadding" placeholder="Enter measurement value"
                  value="<%=mes[i].hipoverbodypadding%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Shoes:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="shoes" placeholder="Enter measurement value" value="<%=mes[i].shoes%>"
                  readonly>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Shoes:&nbsp;&nbsp;
                <input class="form-control" type="number" step="any" name="shoes" placeholder="Enter measurement value" value="<%=mes[i].shoes%>">
                <%}%>
                <br><br>
                <div class="h">
                  <input class="btn btn-primary" type="submit" value="Next" data-toggle="tab" href="#other<%= listOfPerformers[i]._id%> %>">
                </div>
              </div>
            </div>
            <div id="other<%= listOfPerformers[i]._id%>" class="tab-pane fade">

              <div class="form-group">
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Dominant Hand:&nbsp;&nbsp;
                <input class="form-control" type="text" name="dominanthand" placeholder="Enter measurement value" value="<%=mes[i].dominanthand%>"
                  readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Dominant Hand:&nbsp;&nbsp;
                <input class="form-control" type="text" name="dominanthand" placeholder="Enter measurement value" value="<%=mes[i].dominanthand%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Other over Body Padding:&nbsp;&nbsp;
                <input class="form-control" type="text" name="otheroverbodypadding" placeholder="Enter measurement value"
                  value="<%=mes[i].otheroverbodypadding%>" readonly>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Other over Body Padding:&nbsp;&nbsp;
                <input class="form-control" type="text" name="otheroverbodypadding" placeholder="Enter measurement value"
                  value="<%=mes[i].otheroverbodypadding%>"><br>
                <%}%>
                <%if((mes[i].measurementsTakenOn != null) && (!user.isAdmin && !user.isManager)){%>
                Measurements taken on:&nbsp;&nbsp;
                <input class="form-control" type="text" name="measurementsTakenOn" placeholder="Measurements took on"
                  value="<%=mes[i].measurementsTakenOn%>" readonly><br>
                <%}%>
                <%if(((mes[i].measurementsTakenOn == null && (!user.isAdmin && !user.isManager)) || (mes[i].measurementsTakenOn != null && (user.isAdmin || user.isManager)) || (mes[i].measurementsTakenOn == null && (user.isAdmin || user.isManager)))){%>
                Measurements taken on:&nbsp;&nbsp;
                <input class="form-control" type="text" name="measurementsTakenOn" placeholder="Measurements took on"
                  value="<%=mes[i].measurementsTakenOn%>">
                <%}%>
                <br><br>
                <div class="h">
                  <%if(mes[i].measurementsTakenOn == null){%>
                  <input class="btn btn-primary" type="submit" value="Submit">
                  <%}%>
                  <%if(mes[i].measurementsTakenOn != null){%>
                  <% if(user.isAdmin || user.isManager) { %>
                  <input class="btn btn-primary" type="submit" value="Update">
                  <%}%>
                  <% if(user && (!user.isAdmin && !user.isManager)) { %>
                  <input class="btn btn-primary" type="submit" value="Update" disabled>
                  <%}%>
                  <%}%>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>