<% include header %>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/play.css" />
  </head>

  <body>
    <h2> Play details</h2>
    <br>
    <br>
     <form method="POST" action="/Add_play">
      <% if(user.isAdmin){ %>
        <div>
          <button type="submit" class="btn btn-success x">
        <span class="glyphicon glyphicon-plus "></span> Add </button>
        </div>
    </form> 
     <%}%> 
   <div class="flip-card-container">
      <% for(let i = 0; i < listOfPlays.length; i++) { %>
            <div class="flip-card">
           
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h4>Play Name</h4>
                <span class="big">
            <%= listOfPlays[i].playname %>
          </span>
                <br>
                <br>
                <img src="/css/fashion1.jpg" class="img-responsive" alt="Cinque Terre" width="200" height="50">
              </div>
              <div class="flip-card-back">
                <br>
                <br>
                <h4>Play Start Date</h4>
                <span class="big">
            <%= listOfPlays[i].PlayStartDate %>
          </span>
                <h4>Play End Date</h4>
                <span class="big">
            <%= listOfPlays[i].PlayEndDate %>
          </span>
        </div>
              </div>
       
           <form class="move" method="POST" action="/FormController/getByPlay">
            <input type="text" name="playname" value="<%= listOfPlays[i].playname %>" hidden>
            <!-- <button class="large" type="submit" class="btn btn-primary">View Performers</button> -->
            <div class="row">
              <div class="column">
            <input class="move" type="image" src="/css/perf.png" alt="Submit" width="58" height="54">
         </div>
          </form> 
          <% if(user && user.isAdmin){ %>
           
            <form  onsubmit="return confirm('Are you sure want to delete?')" action="/PlayController/delete" method="POST">
             <input type="text" name="perfId2" hidden value="<%= listOfPlays[i]._id %>">
             <!-- <button class="large" class="btn btn-danger" type="submit">Delete</button> -->
             <div class="column">
             <input class="large" type="image" src="/css/deleteplay.png" alt="Submit" width="62" height="58">
            </div>
          </div>
            </form>
         
          <% } %> 
        </div>
        
      
        <% } %>
      </div>
  </body>