<% include header %>
<table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Rented Item</th> 
      <th>Rentad Date</th>
      <th>Return Date</th>
    </tr>
    <% for(let i = 0; i < list.length; i++) { %>
    <tr>
      <td><%= list[i].firstname %></td>
      <td><%= list[i].rental_item %></td>
      <td><%= list[i].StartDate %></td>
      <td><%= list[i].EndDate %></td>
      <td><%= list[i].fee %></td>
    </tr>
    <% } %>
  </table>
