<% include header %>



<link rel="stylesheet" type="text/css" href="/css/Rentallist.css" />
<!-- <link rel ="stylesheet" type="text/css"href="https://www.w3schools.com/w3css/4/w3.css"/>  -->
<script src="/js/Test.js"></script>


<body>
  <h2>Shop Pull list</h2>
  <br>
  <br>
  <div class="w3-container">
    <table class="w3-table-all w3-card-4" id="rent" align="center">
      <tr>
        <th>Pulled</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Play</th>
        <th>Character Name</th>
        <th>Size</th>
        <th>Due Date</th>
        <th>Clothing Item</th>
        <th>Color</th>
        <th>Notes</th>
        <th></th>

      </tr>
      <% for(let i = 0; i < list.length; i++) { %>
      <tr>
        <td> <input type="checkbox" name="check" value="done"></td>
        <td>
          <%= list[i].firstname %>
        </td>
        <td>
          <%= list[i].lastname %>
        </td>
        <td>
          <%= list[i].playname %>
        </td>
        <td>
          <%= list[i].charactername %>
        </td>
        <form method="POST" action="/FormController/shop1">
          <td>
            <select id="size<%= list[i]._id %>" name="size">
              <%if(shp[i].shopID.length == 0){%>
              <option value="Choose Size">Choose size</option>
              <option value="xs">xs</option>
              <option value="s">s</option>
              <option value="m">m</option>
              <option value="l">l</option>
              <option value="xl">xl</option>
              <option value="xxl">xxl</option>
              <option value="xxxl">xxxl</option>
              <option value="Other">Other</option>
              <%}%>
              <%if(shp[i].shopID.length != 0){%>
                <option value="<%= shp[i].size%>">
                  <%= shp[i].size%>
                </option>
                <option value="Choose size">Choose size</option>
                <option value="xs">xs</option>
                <option value="s">s</option>
                <option value="m">m</option>
                <option value="l">l</option>
                <option value="xl">xl</option>
                <option value="xxl">xxl</option>
                <option value="xxxl">xxxl</option>
                <option value="Other">Other</option>
                <%}%>
            </select>
          </td>
          <td>
            <div>
              <%if(shp[i].shopID.length != 0){%>
              <input type="date" name="duedate" value="<%= shp[i].duedate %>">
              <%}%>
              <%if(shp[i].shopID.length == 0){%>
              <input type="date" name="duedate">
              <%}%>
              <input type="text" name="shopID" value="<%= list[i]._id %>" hidden>
              <input type="text" name="sID" value="<%= shp[i]._id %>" hidden>
            </div>
          </td>
          <td>
            <%= cloth[i].selectCloth %>
          </td>
          <td>
            <%= item[i].selectColor01 %>
          </td>
          <td>
            <% if(!user.isAdmin) { %>
              <textarea name="notes" readonly></textarea>
              <% } %>
              <% if(user && user.isAdmin) { %>
                <%if(shp[i].notes == null){%>
                  <textarea name="notes" placeholder="Enter some notes here"></textarea>
                <%}%>
                <%if(shp[i].notes != null){%>
                  <textarea name="notes"><%=shp[i].notes%></textarea>
                  <%}%>
              <% } %>
          </td>
          <td>
            <input class="btn btn-update" type="submit" value="update">
          </td>
        </form>
      </tr>
      <% } %>
    </table>
    <div>
      <button type="button" class="btn btn-success  x" onclick="window.print()">
        <span class="glyphicon glyphicon-print "></span> Print
      </button>
    </div>
  </div>