<% include header %>



<link rel="stylesheet" type="text/css" href="/css/shoppulllist.css" />
<!-- <link rel ="stylesheet" type="text/css"href="https://www.w3schools.com/w3css/4/w3.css"/>  -->
<script src="/js/Test.js"></script>


<body>
  <h2>Shop Pull list</h2>
  <br>
  <br>
  <div class="w3-container">
    <table class="w3-table-all w3-card-4" id="rent" align="center">
      <% var perfSize = []%>
      <% var CloAndCol = []%>
      <tr>
        <th>Pulled</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Play</th>
        <th>Character Name</th>
        <th>Size</th>
        <th style="width:0%">Delivery Due Date</th>
        <th style="width:40%">Clothing Item & Color</th>
        <th>Notes</th>
        <th></th>

      </tr>
      <% for(let i = 0; i < list.length; i++) { %>
      <tr>
        <td> <input type="checkbox" name="check" value="done"></td>
        <td>
          <%= list[i].firstname %>
        </td>
        <td>
          <%= list[i].lastname %>
        </td>
        <td>
          <%= list[i].playname %>
        </td>
        <td>
          <%= list[i].charactername %>
        </td>
        <form method="POST" action="/FormController/shop1">
          <td>
            <select id="size<%= list[i]._id %>" name="size">
              <% for(let j = 0; j < shp.length; j++) { %>
              <%perfSize[i] = shp1%>
              <%if(list[i]._id == shp[j].shopID){%>
              <%perfSize[i] = shp[j]%>
              <%break%>
              <%}%>
              <%}%>
              <%if(perfSize[i].size != null){%>
              <option value="<%= perfSize[i].size%>">
                <%= perfSize[i].size%>
              </option>
              <%}%>
              <option value="Choose Size">Choose size</option>
              <option value="XS">XS</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
              <option value="XL">XL</option>
              <option value="XXL">XXL</option>
              <option value="XXXL">XXXL</option>
              <option value="Other">Other</option>
            </select>
          </td>
          <td>
            <div>
              <%if(user.isAdmin){%>
              <%if(perfSize[i].duedate != null){%>
              <input type="date" name="duedate" value="<%= perfSize[i].duedate %>">
              <%}%>
              <%if(perfSize[i].duedate == null){%>
              <input type="date" name="duedate">
              <%}%>
              <%}%>
              <%if(!user.isAdmin){%>
                <%if(perfSize[i].duedate != null){%>
                  <input type="date" name="duedate" value="<%= perfSize[i].duedate %>" readonly>
                  <%}%>
                  <%if(perfSize[i].duedate == null){%>
                  <input type="date" name="duedate" readonly>
                  <%}%>
                <%}%>
              <input type="text" name="shopID" value="<%= list[i]._id %>" hidden>
              <input type="text" name="sID" value="<%= perfSize[i]._id %>" hidden>
            </div>
          </td>
          <% for(let j = 0; j < ClothAndColor.length; j++) { %>
          <%CloAndCol[i] = clothAndColorEmp%>
          <%if(list[i]._id == ClothAndColor[j].performerId){%>
          <%CloAndCol[i] = ClothAndColor[j]%>
          <%break%>
          <%}%>
          <%}%>
          <td>
            <table border="1px">
              <% if(CloAndCol[i].topItem.length != 0){%>
              <tr>
                <td>
                  <%= CloAndCol[i].topItem %>
                </td>
                <td>
                  <%= CloAndCol[i].topColor %>
                </td>
              </tr>
              <%}%>
              <% if(CloAndCol[i].bottomItem.length != 0){%>
              <tr>
                <td>
                  <%= CloAndCol[i].bottomItem %>
                </td>
                <td>
                  <%= CloAndCol[i].bottomColor %>
                </td>
              </tr>
              <%}%>
              <% if(CloAndCol[i].underItem.length != 0){%>
              <tr>
                <td>
                  <%= CloAndCol[i].underItem %>
                </td>
                <td>
                  <%= CloAndCol[i].underColor %>
                </td>
              </tr>
              <%}%>
              <% if(CloAndCol[i].shoeItem.length != 0){%>
              <tr>
                <td>
                  <%= CloAndCol[i].shoeItem %>
                </td>
                <td>
                  <%= CloAndCol[i].shoeColor %>
                </td>
              </tr>
              <%}%>
              <% if(CloAndCol[i].otherItem.length != 0){%>
              <tr>
                <td>
                  <%= CloAndCol[i].otherItem %>
                </td>
                <td>
                  <%= CloAndCol[i].otherColor %>
                </td>
              </tr>
              <%}%>
            </table>
          </td>
          <td>
           
           
            <%if(perfSize[i].notes == null){%>
            <textarea name="notes" placeholder="Enter some notes here"></textarea>
            <%}%>
            <%if(perfSize[i].notes != null){%>
            <textarea name="notes"><%=shp[i].notes%></textarea>
            <%}%>
           
          </td>
          <td>
            <input class="btn btn-update" type="submit" value="update">
          </td>
        </form>
      </tr>
      <% } %>
    </table>
    <div>
      <button type="button" class="btn btn-success  x" onclick="window.print()">
        <span class="glyphicon glyphicon-print "></span> Print
      </button>
    </div>
  </div>